%H1 {
  font-family: "Blender Pro", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 6.4rem;
  line-height: 6.4rem;
  letter-spacing: -0.42rem;
}

%H2 {
  font-family: "Blender Pro", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 4rem;
  line-height: 4rem;
  letter-spacing: -0.03rem;
}

%H3 {
  font-family: "Blender Pro", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2.2rem;
  line-height: 2rem;
  letter-spacing: -0.02rem;
  text-transform: uppercase;
}

%H4 {
  font-family: "Blender Pro", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2.2rem;
  line-height: 2rem;
  letter-spacing: -0.02rem;
  text-transform: uppercase;
}

%title1 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: -0.05rem;
}

%title2 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.6rem;
}

%subtitle1 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2rem;
  color: #000000;
}

%subtitle2 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #000000;
}

%subtitle3 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.6rem;
  color: #000000;
}

%body1 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  letter-spacing: -0.02rem;
}

%body2 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 1.6rem;
  letter-spacing: -0.02rem;
}

%accentTitle1 {
  font-family: "Blender Pro", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 1.4rem;
  letter-spacing: -0.02rem;
  color: #000000;
}

%accentTitle2 {
  font-family: "Blender Pro", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.2rem;
  letter-spacing: -0.02rem;
  color: #000000;
}

%button {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.4rem;
  letter-spacing: 0.02rem;
  color: #000000;
  text-transform: none;
}

%description {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.2rem;
}

%headmenu {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.6rem;
  letter-spacing: 0.02rem;
  color: #000000;
}

%MuiChip {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2rem;
  color: #061136;
}
